.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 20px;

  .header-logo {
    margin-left: 10px;
  }

  .header-menu {
    display: flex;
    flex-direction: row;
    justify-content: left;
    flex-grow: 2;
    padding-left: 20px;
  }

  height: 70px;
  background-color: #2699fb;

  h1 {
    text-transform: uppercase;
    color: white;
  }
}
